<div style="display: flex; justify-content: center;">
	<div style="display: flex; flex-direction: column; padding: 2rem;  max-width: 800px;">
		<mat-card class="card">
			<mat-card-header>
				
				<mat-card-title>
					<h1>Yash Prakash Pimpalkar</h1>
				</mat-card-title>
				<mat-card-subtitle>
					<h2>Computer Engineer</h2>
				</mat-card-subtitle>
				<mat-card-subtitle>
			       yashpimpalkar214@gmail.com
				</mat-card-subtitle>
			</mat-card-header>
		</mat-card>

		<mat-card class="card">
			<mat-card-header>
				<mat-card-title>
					Skills
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<mat-chip-list aria-label="Fish selection">
					<mat-chip color="accent" selected>C++</mat-chip>
					<mat-chip color="accent" selected>JavaScript</mat-chip>
					<mat-chip color="accent" selected>HTML</mat-chip>
					<mat-chip color="accent" selected>CSS</mat-chip>
					<mat-chip color="accent" selected>Angular</mat-chip>
					<mat-chip color="accent" selected>Material</mat-chip>
					<mat-chip color="accent" selected>react.js</mat-chip>
					<mat-chip color="accent" selected>django</mat-chip>
					<mat-chip color="accent" selected>python</mat-chip>

					
				</mat-chip-list>
			</mat-card-content>
		</mat-card>

		<mat-card class="card">
			<mat-card-header>
				<mat-card-title>
					About me
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				
				<ul>
				<li>Creative Web Designer with up-to-date knowledge of design.</li>
				<li>Dedicated at completing daily assignments and contributing to team success.</li>
				<li>Always willing to take on any task.</li>
				<li>Quick learn and can master new technologies.</li>
				<li>Willing to take on any task to support team and help team succeed.</li> 
				<li>Offers strong HTML and CSS .</li>
                </ul>
			
			</mat-card-content>
		</mat-card>

		<mat-card class="card">
			<mat-card-header>
				<mat-card-title>
					PROJECT
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<mat-list>
					<mat-list-item>
						<mat-icon mat-list-icon>business</mat-icon>
						<div mat-line>MODERN DICTIONARY</div>
						<div mat-line>Final year project | Oct 2021 - Dec 2021</div>
						<div mat-line>
							<ul style="list-style-type:disc">
								<li>Modern Dictionary is a Professional Dictionary Platform.</li>
								<li>It is base on django framework.</li>
								<li>It is a best source for English definitions, synonyms ,antonyms and example</li>
								<li>here is the <a href="https://github.com/YashPimpalkar/finalyearproject">GITHUB</a>
									link of my project</li>
							</ul>
						</div>
					</mat-list-item>
				</mat-list>
			</mat-card-content>
		</mat-card>

	</div>
</div>